<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='abi.js') }}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="alert alert-danger" role="alert" id="alert">
					Смарт-контракт не загружен!
				</div>
			</div>
		</div>
		<div class="row">
			<div class=col>
				<label for="contract_adr">Адрес смарт-контракта</label>
				<input type="text" name="contract_adr" id="contract_adr" value="{{ contract_adr }}"/>
				<button class="btn btn-primary" id="load">Загрузить</button>
			</div>
		</div>
		<div class="row">
			<div class=col>
				<a href="{{ url_for('subjects') }}">Предметы</a>
			</div>
			<div class=col>
				<a href="{{ url_for('add_student') }}">Добавить школьника</a>
			</div>
			<div class=col>
				<a href="{{ url_for('edit_student') }}">Редактировать школьника</a>
			</div>
			<div class=col>
				<a href="{{ url_for('add_result') }}">Результаты</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
<script>
	let web3 = new Web3('http://localhost:7545')
	let contract = null;
	let wallet = '';
	let subjects=[];
	let smrt_cntrct_ld = document.getElementById("load");
	async function InitAccount()
	{
		try
		{
			let accounts = await ethereum.request({'method':'eth_accounts'});
			wallet = accounts[0];
			console.log("Now I am", wallet);
		}catch(error)
		{
			alert(error);
		};
	}
	function load_contract(contract_adr)
	{
		if(web3.utils.isAddress(contract_adr))
		{
			contract = new web3.eth.Contract(abi, contract_adr);
			let al = document.getElementById("alert");
			al.innerHTML = "Смарт-контракт успешно загружен!";
			al.classList.remove("alert-danger");
			al.classList.add("alert-success");
			document.querySelectorAll('a').forEach(link => {
				link.href = link.href.includes('?')?link.href.slice(0, link.href.indexOf('?')):link.href +'?contract_adr=' + contract_adr;
			});
		}else{ 
			let al = document.getElementById("alert");
			al.innerHTML = "Проверьте правильность задания адреса смарт-контракта! Дальнейшая работа не возможна!";
			al.classList.remove("alert-success");
			al.classList.add("alert-danger");
		}
	}
	window.addEventListener('load', (event)=>{
		let contract_adr = document.getElementById('contract_adr');
		if(contract_adr.value.length > 0)
		{
		 	load_contract(contract_adr.value);
		}
	});
	smrt_cntrct_ld.addEventListener('click', (event)=>{
		event.preventDefault();
		let contract_adr = document.getElementById('contract_adr');
		load_contract(contract_adr.value);
	});
	if (ethereum != undefined)
	{
		{% block script %}{% endblock %}
		ethereum.on('accountsChanged', (accounts) => { wallet = accounts[0]; console.log(wallet);});
	} else alert("You have no metamask or haven't logged in!");
</script>
</html>