{% extends 'base.html' %}
{% block title %}Электронный ЕГЭ{% endblock %}
{% block content %}
	<h1>Предметы в системе</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<ul class="list-group" id="result">
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<form>
					<label for="subject">Название предмета</label>
					<input class="form-control" type="text" name="subject" id="subject" placeholder="Математика" />
					<input class="btn btn-primary" type="submit" id="submit" value="Добавить"/>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
function AddListItem(ul, text)
{
	let li = document.createElement('li');
	let a = document.createElement('a');
	let contract_adr = document.getElementById('contract_adr');
	a.appendChild(document.createTextNode(text));
	let base_url = window.location.href.slice(0, window.location.href.indexOf('subjects'));
	a.href = new URL('/edit_subject/?old_name='+text+'&contract_adr='+contract_adr.value, base_url);
	li.appendChild(a);
	ul.appendChild(li);
}
InitAccount()
.then(()=>{
	console.log("I got ",wallet);
	contract.methods.GetSubjects().call({ 'from': wallet })
	.then((data)=>{
		let ul = document.getElementById('result');
		ul.innerHTML = '';
		data.forEach(element=>{
			AddListItem(ul, element);
		});
	})
	.catch(error=>{
		alert(error);
	});
})
.catch((error)=>{
	alert(error);
});

let button = document.getElementById("submit");
button.addEventListener('click', (event)=>{
	event.preventDefault();
	var subject = document.getElementById("subject");
	if(subject.value.length < 1)
	{
		alert('Вы не задали наименование предмета!');
		return;
	}
	contract.methods.AddSubject(subject.value)
	.send({ 
		'from': wallet,
		'gasLimit': 3000000
	})
	.on('receipt',(receipt)=>{
		if(receipt.status)
		{
			AddListItem(document.getElementById('result'), subject.value);
		}
	})
	.on('error', (error)=>{
		alert(error);
	});
});
{% endblock %}
